 @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

 * {
   padding: 0;
   margin: 0;
 }

 body {
   background-color: black;
 }

 .main {
   background-image: url("bg.jpg");
   position: relative;
   height: 80vh;
   background-repeat: no-repeat;
   background-size: max(2100px, 100vw);
   background-position: center center;

 }

 .main .box {
   top: 0px;
   height: 80vh;
   width: 100%;
   opacity: 0.44;
   background-color: black;
   position: absolute;
  right:0px;
 }

 nav {

   top: 0;
   display: flex;
   z-index: 1;
   align-items: center;
   justify-content: space-between;
   padding-top: 5px;
   margin: auto;
   max-width: 60vw;
   height: 62px;
   position: relative;

 }

 .main .btn-1 {
   width: 76.91px;
   height: 32px;
   background-color: rgb(229, 9, 20);
   color: rgb(255, 255, 255);
   border: none;
   border-radius: 5px;
   font-weight: 8px;
   position: relative;
   z-index: index 10;

 }

 nav img {
   width: 148px;
   height: 40px;
   color: red;
   position: relative;
   z-index: 10px;
 }

 .enroll {
   font-family: 'Roboto';
   height: calc(100% - 100px);
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   color: white;
   position: relative;
   padding: 0 30px;
   /* gap: 15px; */

 }

 .tv {
   font-size: 48px;
   margin-bottom: 8px;
   font-weight: bolder;
   color: rgb(255, 255, 255);
   font-family: 'Roboto';

 }

 .in-btn :nth-child(1) {
   padding: 3px 8px;
   font-weight: 400;
   color: white;
   background-color: rgba(248, 243, 243, 0.021);
   border-radius: 4px;
   border: 2px solid white;
   cursor: pointer;
   height: 56px;
   width: 384px;
   font-size: larger;
   font-weight: 500;
 }

 .red-btn {
   width: 180px;
   height: 56px;
   border: none;
   border-radius: 4px;
   background-color: rgb(229, 9, 20);
   color: rgb(255, 255, 255);
   font-size: larger;
   font-weight: bolder;
 }

 .MY {
   font-size: 48px;
   font-weight: bolder;
   color: rgb(255, 255, 255);
   font-family: 'Roboto';
 }

 .TO {
   color: rgb(255, 255, 255);
   font-family: 'Roboto';
   font-size: 16px;
   font-weight: bold;
   margin-bottom: 16px;
 }

 .end {
   margin-bottom: 12px;
 }

 .separation{
  content: "";
   background: linear-gradient(to right, rgba(33, 13, 22, 1) 16%, rgba(184, 40, 105, 1), rgba(229, 9, 20, 1), rgba(184, 40, 105, 1), rgba(33, 13, 22, 1) 84%);
   position: relative;
   height: 10px;
   width:100%;
   top: 29px;
   bottom: 0px;
   clip-path: ellipse(70% 50% at 50% 0%);
   border-bottom-left-radius: 4px;
   border-radius: 30px;
   transform: scaleY(1.5);
 }
  h2{
  color: white;
 } 
 .grid{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap:30px;
  width:800px;
  height:270px;
  margin-left:80px;
  margin-top:20px;
  top:10px;
  /* border:none;
  border-radius:10px; */
 }
 .item img{
  height:250px;
  border:none;
  border-radius:8px;
 }
 .now{
  margin-top:40px;
  margin-left:80px;
  font-family: 'Roboto';
 }
 .More img{
  height:300px;
  width:250px;
  border:none;
  border-radius:8px;
 }
 .Reasons{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap:3px;
  width:900px;
  height:250px;
  margin-left:80px;
  margin-top:20px;
  /* top:10px; */
 }
   .qs{
  color:aliceblue;
  font-family: 'Roboto';
  margin-top: 80px;
  margin-left: 80px;

 }
 .box{
  color:rgb(255, 255, 255);
  font-size: 23px;
  font-family: 'Roboto';
  margin-top: 8px;
  margin-left: 80px;
  padding:30px;
  display:flex;
  flex-direction: column;
  background-color: rgb(68, 66, 66);
  width:935px;
  height:13px;
 }
 /* .FAQ{
  
 } */
 .start {
   margin-bottom: 12px;
   justify-content: center;
   align-items: center;
   color:rgb(255, 255, 255);
   font-family: 'Roboto';
   margin-left: 300px;
   margin-top:80px;
 }
 .input{
   padding: 5px 8px; 
  font-weight: 400px;
  color: rgb(252, 255, 255);
  background-color: #413f3f05;
  /* border-radius: 8px; */
  border: 2px solid white;
  cursor: pointer;
  height: 47px;
   width: 475px; 
  font-size: 15px;
  font-weight: 500;
 margin-left:200px;
  
 } 
  .go {
  width: 200px;
  height: 56px;
  border: none;
  border-radius: 4px;
  background-color: rgb(229, 9, 20);
  color: rgb(255, 255, 255);
  font-size: larger;
  font-weight: bolder;
 } 
  .QC{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    margin-top:65px;
    line-height: 30px;
    margin-left: 50px;
    margin-right: 280px;
    margin-bottom: 50px;
  }
  .next{
    display:flex;
    flex-direction: column;
  }
  a{
    color:#ffffff;
  }
.us{
  margin-top:55px;
 margin-left: 80px;
}
.og button{
  margin-left: 80px;
  width:90px;
  height:28px;
  align-items: center;
  background-color: rgb(36, 34, 34);
  color:#ffffff;
  border:none;
  border-radius: 3px;
  font-family: 'Roboto';
  font-size: 17px;
}
h4{
  color:#ffffff;
  margin-left:80px;
  margin-top:30px;
  font-family: 'Roboto';
  font-size: small;
  font-size: 13px;
}
h5{
  color:#ffffff;
  margin-left:80px;
  margin-top:30px;
  font-family: 'Roboto';
  font-size: small;
}
a .blue{
  color: blue;
}